/*==チャット一覧（左側）==*/

/* チャットルームの調整 */
.chat-friend-btn {
  background-color: #fffffc;
  padding: 0;
}

/*==個人チャット画面（右側）==*/

.chat-private {
  margin-left: 70px;
}

.chat-name {
  font-size: 15px;
  color: #555;
  margin: 10px 0 6px;
}

/*Comment List styles*/
.outer {
  display: table;
  width: 100%;
  margin-bottom: 30px;
}

.page-header {
  background-color: #d0576b;
  border-radius: 3px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 0;
}

.page-header h2 {
  color: #fff;
  margin: 7px 0px;
}

.comment-list .row {
  margin-bottom: 0px;
}
.comment-list .panel .panel-heading {
  padding: 4px 15px;
  position: absolute;
  border:none;
  /*Panel-heading border radius*/
  border-top-right-radius:0px;
  top: 1px;
}
.comment-list .panel .panel-heading.right {
  border-right-width: 0px;
  /*Panel-heading border radius*/
  border-top-left-radius:0px;
  right: 16px;
}
.comment-list .panel .panel-heading .panel-body {
  padding-top: 6px;
}
.comment-list figcaption {
  /*For wrapping text in thumbnail*/
  word-wrap: break-word;
}

.panel {
  background-color: #fffffc;
  width: 300px;
  height: 250px;
  border: none;
}

/* 背景画像透過用 */
.layerTransparent-chat{
    background-color: rgba(255,255,255,0.5);
    height: 250px;
}

.panel-body {
  width: 95%;
  height: 95%;
  position: relative;
}

.comment-date {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #d0576b;
}

/* 右側と左側で吹き出しの位置を調整する */
.user-left {
  margin-right: auto;
}

.user-right {
  margin-left: auto;
  background-color: #f6b894;
}

/* 俳句の縦書き */
.haiku-text {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.haiku-text p {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: #555;
}

.haiku-text-1 {
    left: 23px;
}

.haiku-text-2 {
    left: 123px;
}

.haiku-text-3 {
    right: 15px;
}

/* 俳句入力欄 */
.btn-glyphicon { 
  padding:8px; background:#ffffff; margin-right:4px;
}

.icon-btn { 
  width: 120px;
  height: 40px;
  padding: 1px 15px 3px 2px; border-radius:50px;
  position: fixed;
  right: 40px;
  bottom: 60px;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) {
  .comment-list .arrow:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
    border-left: 0;
  }
  /*****Left Arrow*****/
  /*Outline effect style*/
/*  .comment-list .panel.arrow.left:before {
    left: 0px;
    top: 50px;
    Use boarder color of panel
    border-right-color: inherit;
    border-width: 16px;
  }*/
  /*Background color effect*/
  .comment-list .panel.arrow.left:after {
    left: 2px;
    top: 50px;
    /*Change for different outline color*/
    border-right-color: #fffffc;
    border-width: 13px;
  }
  /*****Right Arrow*****/
  /*Outline effect style*/
/*  .comment-list .panel.arrow.right:before {
    right: -16px;
    top: 50px;
    Use boarder color of panel
    border-left-color: inherit;
    border-width: 16px;
  }*/
  /*Background color effect*/
  .comment-list .panel.arrow.right:after {
    right: -11px;
    top: 50px;
    /*Change for different outline color*/
    border-left-color: #f6b894;
    border-width: 13px;
  }
}
.comment-list .comment-post {
  margin-top: 6px;
}