/*全体の枠組み*/
body {
  text-align:left;
}

/*プロフィール画像サイズ*/
#photo {
  width: 130px;

}

/*プロフィール名前の位置*/
h1{
  padding-top:10px;
}

/*友達プロフィール画像サイズ*/
#photo1 {
  width: 60px;
}

/*Friendsの文字の大きさ&フォント*/
.title {
    font-size: 1.0em; 
    font-weight: 700;
}

/*各Friendの名前の大きさ&濃さ*/
.name {
    font-size: 0.9em; 
    font-weight: 700;
}

.haiku1{
    font-size: 0.9em; 
}

/* 友達一覧 */
.well_3 {
  min-height: 20px;
  padding: 2px;
  background-color: #fffffc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.friends-display {
  margin-top: 60px;
}

  .friends-title {
    margin-bottom: 10px;
  }

    .title{
      font-size: 20px;
    }