/*全体の枠組み*/
body {
    padding: 200px 50px 1500px; 
    width:1000px;
}


/*プロフィール名前の位置*/
h1{
  padding-top:10px;
}

/*Friendsの文字の大きさ&フォント*/
.title {
    font-size: 1.7em;
    font-weight: bold; 
}

/*各Friendの名前の大きさ&濃さ*/
.name {
    font-size: 1.1em; 
    font-weight: 700;
}
