
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-right: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

/*全体の枠組み*/
body {text-align:center;
}


/*プロフィール名前の位置*/
h1{
  padding-top:10px;
}

/*Friendsの文字の大きさ&フォント*/
.title {f
    font-size: 1.7em;
    font-weight: bold; 
}

/*各Friendの名前の大きさ&濃さ*/
.name {
    font-size: 1.1em; 
    font-weight: 700;
}

Contact GitHub API Training Shop Blog About
