.well_2 {
  min-height: 20px;
  padding: 2px;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.yosi {
  padding-left: 110px;
}

.asi {
  padding-left: 110px;
}

.title-ranking {
  padding-left: 150px;
}

.well_2 blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}

.picuture-position {
  width: 270px;
  height: 250px;
}

.picuture-position2 {
  width: 270px;
  height: 250px;
}

.button-position {
  padding: 5px;
  padding-left: 83px;
  padding-right: 83px;
}


