@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}

body {
  font-family: 'Hiragino Maru Gothic ProN', 'YuGothic';
  background-color: #fef4f4;
}

h1 {
  font-family: 'YuGothic', 'Hiragino Maru Gothic ProN';
}