.login-background {
  background-image: url(../images/source/japanese-umbrellas.jpg);
  background-size: cover;
}

.virgin-login {
  background-image: url(../images/source/login.jpg);
  background-size: cover;
  height: 800px;
}