/**/
/*== タイムライン ==*/
/**/

/*== 季語 ==*/
.sw-title {
    height: 40px;
    margin-left: 10px;
}

.sw-title h4 {
    padding: 0 0 10px 0px;
    font-size: 30px;
    margin-top: 0;

}

.sw-outer {
    display: table;
    width: 100%;
    margin-bottom: 30px;
}

.sw-word {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    height: 230px;
    border-radius: 30px ;
    font-size: 60px;
    background-image: url(../images/source/sakura_sample.jpg); background-size: cover;
}


/*== 投稿俳句一覧 ==*/
/* 投稿全体 */
.post-haiku {
    margin-top: 27px;
    padding: 20px;
    background-color: #fffffc;

}

.post-haiku blockquote {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    height: 300px;
    font-size: 14px;
    line-height: 20px;
    padding: 15px;
    position: relative;
}

/* 背景画像透過用 */
.layerTransparent{
    background-color: rgba(255,255,255,0.5);
    height: 300px;
    margin: -15px;
}

/* 投稿者情報 */
.post-haiku .poster-info img {
    border: 1px solid #f5f5f5;
    border-radius: 150px !important;
    height: 75px;
    padding: 3px;
    width: 75px;
}
.post-haiku .poster-info {
    overflow: hidden;
    margin-bottom: 10px;
}
.post-haiku .poster-info img {
    margin-right: 15px;
}
.post-haiku .poster-info span {
    display: block;
}
.post-haiku span.post-haiku-name {
    color: #e6400c;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0 7px;
}

.post-haiku span.post-haiku-comment {
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 300;
    margin: 23px 0  40px 7px;
}

.poster-info {
    position: relative;
}

.poster-info p {
    position: absolute;
    margin: 0;
    bottom: 0;
    right: 5px;
    color: #887f7a;
}

/* 投稿俳句の配置 */
.post-haiku-text {
    width: 300px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.post-haiku-text h2 {
    position: absolute;
    font-weight: 900;
}

.post-haiku-text-1 {
    left: 0;
}

.post-haiku-text-2 {
    left: 135px;
}

.post-haiku-text-3 {
    right: 0px;
}

/*== よし、あし、コメント ==*/
/* よし・あし・コメント数 */
.icon-margin {
    margin-right: 6px;
}

/* よし・あし・コメントボタン */
.post-icons{
    margin-top: 5px;
}

.btn-glyphicon {
    padding: 4px;
    background: #ffffff;
    margin-right: 4px;
}

.icon-btn {
    font-size: 10px;
    padding: 1px 12px 3px 2px;
    margin-right: 20px;
    border-radius: 50px;
}

/* 各ボタンの色 */
/* ボタンが押されていない時 */
.btn-color-un {
    color: #fff;
    background-color:#d4dcda;
    border-color: #d4dcda;
}

.text-color-un {
    color: #d4dcda;
    background-color:#fff;
    border-color:#fff;
}

.btn-color-un:hover {
    color: #fff;
    background-color: #d4dcda;
    border-color: #d4dcda;
}

.btn-color-un:focus {
  color: #fff;
  background-color: #d4dcda;
  border-color: #d4dcda;
}

.btn-color-un:active:focus {
  color: #fff;
  background-color: #d4dcda;
  border-color: #d4dcda;
  background-image: none;
}

/* ボタンが押されている時 */
/* よしボタンの色 */
.btn-color-like {
    color: #fff;
    background-color:#ffb433;
    border-color: #ffb433;
}

.text-color-like {
    color: #ffb433;
    background-color:#fff;
    border-color:#fff;
}

.btn-color-like:hover {
    color: #fff;
    background-color: #ffb433;
    border-color: #ffb433;
}

.btn-color-like:focus {
  color: #fff;
  background-color: #ffb433;
  border-color: #ffb433;
}

.btn-color-like:active:focus {
  color: #fff;
  background-color: #ffb433;
  border-color: #ffb433;
  background-image: none;
}

/* あしボタンの色 */
.btn-color-dislike {
    color: #fff;
    background-color: #8080ff;
    border-color: #8080ff;
}

.text-color-dislike {
    color: #8080ff;
}

.btn-color-dislike:hover {
    color: #fff;
    background-color: #8080ff;
    border-color: #8080ff;
}

.btn-color-dislike:focus {
  color: #fff;
  background-color: #8080ff;
  border-color: #8080ff;
}

.btn-color-dislike:active:focus {
  color: #fff;
  background-color: #8080ff;
  border-color: #8080ff;
  background-image: none;
}

/* コメントボタンの色 */
.btn-color-comment {
    color: #fff;
    background-color: #f09199;
    border-color: #f09199;
}

.text-color-comment {
    color: #e95295;
}

.btn-color-comment:hover {
    color: #fff;
    background-color: #e95295;
    border-color: #e95295;
}

.btn-color-comment:focus {
    color: #fff;
    background-color: #f09199;
    border-color: #f09199;
}

.btn-color-comment:active:focus {
  color: #fff;
  background-color: #e95295;
  border-color: #e95295;
  background
}

/*== コメント欄 ==*/
.post-comment {
    margin-top: 20px;
    padding: 30px 30px 15px 30px;
    background-color:#ffcce5;
    display: none;
}

.comment-msg {
    clear: both;
}

.comment-msg img {
  float: left;
  margin: 0 15px 15px 0;
}

.comment-msg span {
    color: #9a493f;
    margin-right: 5px;
}

.comment-input {
    margin-top: 8px;
}
