/* 右側のコンテンツ */
.right-content {
    margin-top: 70px;
}

/* Content */
body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-image-lg{
    z-index: 0;
    background-image: url(../images/no_img_back.jpg);
    background-size: cover;
    margin-bottom: 10px;
    position: relative;
}

.fb-image-lg span {
    position: absolute;
    font-size: 30px;
    top: 60px;
    font-weight: 600;
}

.fb-image-lg span.intro-text-3 {
    left: 483px;
}

.fb-image-lg span.intro-text-2 {
    left: 633px;
}

.fb-image-lg span.intro-text-1 {
    left: 783px;
}

.fb-profile {
    position: relative;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    position: relative;
}

/* 画像変更ボタン */
.change-back-img {
    position: absolute;
    top: 405px;
    right: 0;
}

.fb-profile-text {
    position: relative;
}

.change-profile-img {
    position: absolute;
    top: 150px;
    left: 270px;
}

/* ニックネーム */
.fb-profile-text h1{
    font-weight: 700;
    font-size: 45px;
    margin: 30px 0 0 380px;
}

.navbar-fixed {
    margin: 40px 0 0 383px;
}

@media (max-width:768px)
{
    
.fb-profile-text h1{
    font-weight: 700;
    font-size: 25px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%; 
}
}

.button
{
    color: #ffff;
    font-size: 16px;
    font-weight: 300;
    margin: -45px 10px 0px 25px;
    width: 100px;
    z-index: 9;
    position: relative;
}
.content {
    padding-top: 30px;
}