/**/
/*== 個人ページ ==*/
/**/

/* バック画像 */
.fb-image-lg{
    z-index: 0;
    background-size: cover;
    margin-bottom: 10px;
    position: relative;
}

/* 自己紹介句 */
.fb-profile {
    position: relative;
}

.fb-image-lg span {
    position: absolute;
    font-size: 30px;
    top: 60px;
    font-weight: 600;
}

.fb-image-lg span.intro-text-3 {
    left: 483px;
}

.fb-image-lg span.intro-text-2 {
    left: 633px;
}

.fb-image-lg span.intro-text-1 {
    left: 783px;
}

/* アイコン画像 */
.fb-image-profile {
    margin: -90px 10px 0px 50px;
    z-index: 3;
    width: 20%;
    position: relative;
}

/* ニックネーム */
.fb-profile-text h1 {
    font-weight: 700;
    font-size: 45px;
    margin: 30px 0 0 380px;
}

/* プロフィール編集ボタン */
.navbar-fixed {
    margin: 40px 0 0 383px;
}

/* 投稿句配置調整 */
.right-content {
    margin-top: 75px;
}

/* レスポンシブ対応（未完） */
@media (max-width:768px) {
    
    .fb-profile-text h1 {
        font-weight: 700;
        font-size: 25px;
        padding-top:10px;
    }

    .fb-image-profile {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}

/**/
/*== 編集ページ ==*/
/**/

/* 保存ボタン */
#btn_continuar {
    color: white;
    border-radius: 25px;
    width: 150px;
}